[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "==0.4.1"
torchvision = "*"
numpy = "*"
opencv-python = "*"
cython = "*"
pycocotools = "*"

[requires]
python_version = "3.6"
